<% include ./partials/header %>
  <div class='container row'>
    <%- messages('./messages/loginAlert', locals) %>
    <div class="col s10 m6 offset-s1 offset-m3">
        <br></br>
        <h4 class="center-align">update your task information:</h4>
        <br></br>
      <form action="/task/edit/<%= task.id %>" method="post" >
        <div class="input-field">
            <input id="title" type="text" name="title" value="<%= task.title %>"/>
            <label for="title">title*</label>
            <% errors.forEach(error => {%>
              <% if(error.param=='title') { %>
              <span class="helper-text red-text"><%=error.msg%></span>
              <% } %>
            <%})%>
        </div>

        <div class="input-field">
            <input id="description" type="text" name="description" value="<%= task.description %>"/>
            <label for="description">description</label>
        </div>
        <div class="input-field">
            <input id="date-due" type="date" name="date_due" value="<%= task.date_due %>" />
            <label for="date-due">date due*</label>
            <% errors.forEach(error => {%>
              <% if(error.param=='date_due') { %>
              <span class="helper-text red-text"><%=error.msg%></span>
              <% } %>
            <%})%>
        </div>
        <div>
            <button type="submit" class="waves-effect waves-light btn">save</button>
        </div>
      </form>
    </div>
  </div>
<% include ./partials/footer %>
